.card-title{
    margin-bottom:0px;
    padding:.5rem;
}
.card-title h4{
    margin:0;
}
hr{
    margin: 4px;
}
aside button{
    margin: .5rem 0;
}
#city-list{
    height:450px;
}
.card-body img{
    height:50px;
    width:50px;
    margin-top:-15px;
}
.card-title h2, img{
    display:inline;
}
.card-title img{
    margin-top: -30px;
    margin-bottom:-50px;
}